.feedback-btn{
    color: white;
    background: linear-gradient(to bottom, rgb(16, 205, 124), rgb(9, 115, 70));
    border-radius: 10px;
    padding: 5px;
    width: 150px;
}

.read-feedback-btn{
    color: white;
    background: linear-gradient(to bottom, rgb(9, 115, 70), rgb(4, 49, 30));
    border-radius: 10px;
    padding: 5px;
    width: 150px;
}

.messenger{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(to bottom, rgb(241, 188, 3) , rgb(193, 58, 3));
    border-radius: 10px;
    padding: 5px;
    width: 150px;
}

.comment-btn{
    color: white;
    background: linear-gradient(to bottom, dodgerblue , rgb(1, 73, 146));
    border-radius: 10px;
    padding: 5px;
    width: 150px;
}

.read-comment-btn{
    color: white;
    background: linear-gradient(to bottom, rgb(1, 73, 146) , rgb(0, 32, 64));
    border-radius: 10px;
    padding: 5px;
    width: 150px;
}

.feedback-read-btn{
    color: white;
    border: 1px dodgerblue solid;
    border-radius: 50%;
    padding: 5px;
}

.feedback-date{
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.comment-date{
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.feedback-delete-btn{
    color: white;
    border: 1px dodgerblue solid;
    border-radius: 50%;
    padding: 5px;
}

.comment-delete-btn{
    color: white;
    border: 1px dodgerblue solid;
    border-radius: 50%;
    padding: 5px;
}

.demo-feedback-box:hover .demo-feedback-message {
    visibility: visible;
}
.demo-comment-box:hover .demo-comment-message {
    visibility: visible;
}

.demo-comment-btn{
    color: white;
    background: linear-gradient(to bottom, dodgerblue , rgb(1, 73, 146));
    border-radius: 10px;
    padding: 5px;
    font-size: 10px;
    width: 100px;
}

.demo-feedback-btn{
    color: white;
    background: linear-gradient(to bottom, rgb(16, 205, 124), rgb(9, 115, 70));
    border-radius: 10px;
    padding: 5px;
    font-size: 10px;
    width: 100px;
}

.demo-feedback-message{
    visibility: hidden;
    position: fixed;
    top: 1px;
    left: 0px;
    background: linear-gradient(to bottom, rgb(147, 236, 232), rgb(33, 184, 176));
    z-index: 10;
    border-radius: 10px;
    padding: 5px;
    width: 90%;
    margin: 5%;
    box-shadow: 1px 1px 20px black;
}

.demo-comment-message{
    visibility: hidden;
    position: fixed;
    top: 1px;
    left: 0px;
    background: linear-gradient(to bottom, rgb(153, 217, 234), dodgerblue);
    z-index: 10;
    border-radius: 10px;
    padding: 5px;
    width: 90%;
    margin: 5%;
    box-shadow: 1px 1px 20px black;
}

.comment-box{
    display: flex;
    gap: 10px;
    margin: 5px;
    font-family: 'M PLUS 1p', sans-serif
}

.feedback-box{
    display: flex;
    gap: 10px;
    margin: 5px;
    font-family: 'M PLUS 1p', sans-serif;
}

.feedback-box:hover .feedback-message {
    visibility: visible;
}

.comment-box:hover .comment-message {
    visibility: visible;
}

.feedback-message{
    visibility: hidden;
    position: fixed;
    top: 5%;
    left: 0px;
    font-size: 30px;
    background: linear-gradient(to bottom, rgb(147, 236, 232), rgb(33, 184, 176));
    z-index: 10;
    border-radius: 10px;
    padding: 5px;
    width: 400px;
    margin:  auto calc(50% - 200px);
    box-shadow: 1px 1px 20px black;
}

.comment-message{
    visibility: hidden;
    position: fixed;
    top: 5%;
    left: 0px;
    font-size: 30px;
    background: linear-gradient(to bottom, rgb(153, 217, 234), dodgerblue);
    z-index: 10;
    border-radius: 10px;
    padding: 5px;
    width: 400px;
    margin:  auto calc(50% - 200px);
    box-shadow: 1px 1px 20px black;
}

.messages-positioner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messages-container{
    width: fit-content;
}
