

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

a:visited{
    color: dodgerblue;
}

.mainContent{
    /*border: 2px yellow solid;*/
    height: fit-content;
    min-height: 800px;
    min-width: fit-content;
    background: linear-gradient(rgba(47, 47, 47,0.9), rgba(0, 0, 0,0.9), rgba(47, 47, 47,0.9));
    margin: 0px 90px 90px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    /*opacity: 95%;*/

}

.content-box{
    /*border: 2px greenyellow solid;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


.content-box h1{
    /*border: 2px orange solid;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 45px;
    border-bottom: 6px solid dodgerblue;
    margin: 80px 50px 50px 50px;
    padding: 13px 0;
}


.text-box {
    font-family: 'M PLUS 1p', sans-serif ;
    width: 100%;
    overflow: hidden;
    font-size: 30px;
    padding: 8px 0;
    margin: 8px 0;
}

.question{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'M PLUS 1p', sans-serif ;
    width: 100%;
    overflow: hidden;
    font-size: 25px;
    padding: 8px 0;
    margin: 8px 0;
}

.inputLabel {
    border-bottom: 1px solid dodgerblue;
    font-family: 'Julius Sans One', sans-serif
}

.error {
    display: flex;
    gap: 10px;
    margin: 5px;
    color: crimson;
    /*border: 2px crimson solid;*/
    font-family: 'M PLUS 1p', sans-serif ;
    font-size: 18px;
    /*border: 1px crimson solid;*/
    /*box-shadow: 2px 2px 5px crimson;*/

}



.text-box input ,select, textarea{
    border: none;
    outline: none;
    color: white;
    background: none;
    font-size: 22px;
    width: 80%;
    /*float: left;*/
    margin: 0 10px;
}


 select option{
     background-color: rgb(33,38,56);
 }

select option:hover{
    ;
    opacity: 0.5;
}

.text-box label{
    margin: 10px;
}


.text-box input::-webkit-input-placeholder,
.text-box input::-webkit-input-placeholder{
    opacity: 1;
    transition: opacity 0.30s ease-out;
}


.text-box input:hover::-webkit-input-placeholder,
.text-box input:focus::-webkit-input-placeholder{
    opacity: 0;
}

.btn{
    font-family: 'Julius Sans One', sans-serif;
    width: 160px;
    height: 70px;
    background: none;
    border: 2px solid dodgerblue;
    color: white;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    margin: 30px 20px 50px 20px;
}

.btn:hover{
    box-shadow: 0 0 5px dodgerblue,
    0 0 25px dodgerblue,
    0 0 50px dodgerblue,
    0 0 100px dodgerblue;
    transform: translateY(-0.25em)
}



.text-box input[type="file"]::-webkit-file-upload-button {
    border: 2px solid dodgerblue;
    outline: none;
    color: white;
    background: none;
    padding: 10px;
    margin: 20px;
    transform: translateY(-0.60em)


}

.text-box input[type="file"]::-webkit-file-upload-button:hover {
    box-shadow: 0 0 5px dodgerblue,
    0 0 10px dodgerblue,
    0 0 10px dodgerblue,
    0 0 10px dodgerblue;
    z-index: 10;
    transform: translateY(-0.80em)
}


.input-btn{
    border: 2px solid dodgerblue;
    outline: none;
    color: white;
    background: none;
    padding: 10px;
    margin: 20px;
    transform: translateY(-0.60em);
    font-size: 20px;
    font-family: 'M PLUS 1p', sans-serif ;
}

.input-btn:hover{
    box-shadow: 0 0 5px dodgerblue,
    0 0 10px dodgerblue,
    0 0 10px dodgerblue,
    0 0 10px dodgerblue;
    z-index: 10;
    transform: translateY(-0.80em)
}

#change-btn{
    font-family: 'Julius Sans One', sans-serif;
    width: 160px;
    height: 70px;
    background: none;
    border: 2px solid dodgerblue;
    color: white;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    margin: 30px 20px 50px 20px;
}

#change-btn:hover{
    box-shadow: 0 0 5px dodgerblue,
    0 0 25px dodgerblue,
    0 0 50px dodgerblue,
    0 0 100px dodgerblue;
    transform: translateY(-0.25em)
}