.logo-hexagon {
    position: relative;
    cursor: pointer;
    opacity: 100%;
    margin:  40px 40px 60px 40px;
}

.logo-hexagon-container{
    padding: 30px;
}
.logo-hexagon * {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .6));
}


.logo-hexagon__svg .logo-hexagon__svg__triangle__bottom-line {
    opacity: 0;
}

.logo-hexagon__svg__hexagon {
    animation-name: spin;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 100px 100px;
    transition: transform 5s;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo-hexagon:hover .logo-hexagon__svg {
    animation-name: rotate;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

.logo-hexagon:hover .logo-hexagon__svg .logo-hexagon__svg__circle {
    animation-name: circle-disappear;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: inherit;
}

@keyframes circle-disappear {
    to {
        opacity: 0;
    }
}

.logo-hexagon:hover .logo-hexagon__svg .logo-hexagon__svg__triangle {
    animation-name: move-triangle;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: inherit;
}

@keyframes move-triangle {
    from { transform: translateY(0em) }
    to { transform: translateY(50px) translateX(33px) scale(0.7) }
}

.logo-hexagon:hover .logo-hexagon__svg .logo-hexagon__svg__top-horizontal-line,
.logo-hexagon:hover .logo-hexagon__svg .logo-hexagon__svg__bottom-horizontal-line {
    animation-name: move-horizontal-lines;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: inherit;
}

@keyframes move-horizontal-lines {
    to {
        transform: translateY(-15px) translateX(30px) scale(0.7);
        opacity: 100%;
    }
}

.logo-hexagon:hover .logo-hexagon__svg .logo-hexagon__svg__triangle {
    animation-name: move-triangle;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: inherit;
}

.logo-hexagon:hover .logo-hexagon__svg .logo-hexagon__svg__triangle__bottom-line {
    animation-name: move-triangle-bottom-line;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: inherit;
}

@keyframes move-triangle-bottom-line {
    from {
        transform: translateY(0em);
        opacity: 0%;
    }
    to {
        transform: translateY(50px) translateX(33px) scale(0.7);
        opacity: 100%;
    }
}