/*.hexagon-shape-container{*/
/*    width: 202px;*/
/*}*/

.small-hexagon-shape{
    background: transparent;
    width: 100px;
    height: calc(100px / 1.11);
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    margin-right: 100px;
    margin-top: 50px;
    color: #fff;
    overflow: hidden;

}

/*.hexagon-shape:hover{*/
/*    background: black;*/
/*}*/

.small-hexagon-shape img {
    width: 100px;
    height: 100px;
}

.small-hexagon-shape:hover{
    transform: scale(1.2);
}