/**{*/
/*    border: greenyellow solid 2px;*/
/*}*/

.music-file{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 50px gray;
    gap: 20px;
    background-color: black;
    border: 2px black solid;
    width: 200px;
    height: 200px;

    transform: perspective(100px) rotateY(30deg) translateX(0px) scale(0.7);
    perspective: 10px;
    transition: .5s all;
    border-radius: 5px;
    overflow: hidden;
}


.music-file:hover {
    z-index: 8;
    transform: perspective(0px) rotateY(0deg) translateX(-25px) scale(1.5);
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 50px white;

}

.user-container{
    /*border: red solid 2px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 100%;*/
    display: grid;
    justify-content: center;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr  auto;
    grid-template-areas:    "photo user-roles"
"demo-list demo-list";

}

.hexagon-photo{
    grid-area: photo;
}


.name-btn{
    grid-area: name-button;
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: start;
    font-family: 'Julius Sans One', sans-serif;
    background: none;
    /*border: 2px solid dodgerblue;*/
    color: white;
    font-size: 25px;
    cursor: pointer;
}

/*.name-btn *{*/
/*    justify-content: start;*/
/*    align-items: start;*/
/*}*/

.name-btn:hover{
    transform: scale(1.2);
}

.user-roles{
    /*border: red solid 2px;*/
    margin-top: 40px;
    grid-area: user-roles;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 30px;
}

/*.user-roles * {*/
/*    border: yellow solid 1px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: start;*/
/*}*/

.demo-list{
    grid-area: demo-list;
    /*display: flex;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: min-content;
    grid-auto-columns: min-content;
    width: 100%;
    height: 100%;
}

.user-demos {
    /*border: red solid 2px;*/
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.5fr));
    grid-auto-rows: min-content;
    grid-auto-columns: min-content;
    /*min-height:30%;*/
    width: 100%;
    /*height: 100%;*/
    /*padding: 150px;*/
}

.user-demos-container{
    width: 100%;
    color: white;

}

.sample-player{
    position: fixed;
    bottom: 0px;
    z-index: 10;
}

.feedback-box{
    width: 100%;
}