.user-roles{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.user-roles-container{
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 20px;
    color: white;
    margin: 50px 50px 50px 50px;
}