
.main-content-container {
    height: available;
    min-height: 100%;
    position: relative;
    color: #fff;
    z-index: 0;
}


.login {
    height: 60vh;
    min-height: 500px;
    background: linear-gradient(rgb(47, 47, 47), black, rgb(47, 47, 47));
    margin: 0px 90px 90px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);

}

.login h2 {
    font-size: 30px;
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}


.login .login__user-input-field {
    position: relative;
    width: 100%;
}

.login .login__user-input-field input {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login .login__user-input-field label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login .login__user-input-field input:focus ~ label,
.login .login__user-input-field input:valid ~ label {
    top: -20px;
    left: 0;
    color: white;
    font-size: 12px;
}

.login form a {
    position: relative;
    display: inline-block;
    box-shadow: 1px 0px 5px deepskyblue;


    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;

    background: none;
    z-index: 3;
    color: #fff;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 10px;


}