@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Poppins:wght@800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*border: 1px red solid*/
}


form{
  margin: 0;
  padding: 0;
  width: 100%;
}


body {
  background-color: dimgray;
  position: relative;
  min-height: 92vh;
}

#content-wrap {
  padding-bottom: 70px;    /* Footer height */
  /*border: 2px green solid;*/
  height: fit-content;
}
