.navigation-bar {
    position: relative;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 2;
}

.navigation-bar__background-img {
    width: 100%;
    min-height: 100px;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, .6));
}

.navigation-bar__content-container {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 3;
    display: flex;
    gap: 10px;
}

.navigation-bar__hexagon-logo {
    position: absolute;
    top: 35px;
    left: 40px;
    z-index: 3;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, .6));
}

.navigation-bar__hexagon-logo img{
    width: 150px;
}

@media only screen and (max-width: 850px) {
    .navigation-bar__hexagon-logo {
        display: none;
    }
}
